@import '../../sass/minxi.scss';
.sort-container {
    display: flex;
    justify-content: flex-start;
    font-size: rem(16);
    height: rem(100);
    width: 100%;
    background: #cc9bc4;
}

.sort-item {
    flex: 1
}

.sort-subject {
    font-size: 16px;
}